
/* Navigation Section  */
#navbar{
    flex-direction: column;
    /* width: 100%; */
}

nav#navbar ul li a {
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0px 10px;
    color: white;
    border-radius: 22px;
    padding-bottom: 10px;
}

/* Home Section */
section#home {
    height: 270px;
    /* width: 100%; */
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

section#home::before{
    height: 370px;
    /* width: 100%; */
}

section#home p {
    font-size: 0.8rem;
    color: white;
    /* font-family: 'Ubuntu', sans-serif; */
}

section .h-primary {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    /* font-family: 'Ubuntu', sans-serif; */
}


/* Services Setion */
.box{
    flex-direction: column;
    /* margin: 10px; */
}

.service-box{
    /* margin-bottom: 10px; */
}

/* Client Section  */

.client-box{
    flex-wrap: wrap;
}

/* Contact section  */



/* footer section */



/* Utility Section */
button.btn{
    font-size: 13px;
    padding: 4px 8px;
}